# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
.conda/

# IDE
.vscode/
.idea/
.spyderproject
.spyproject

# Outputs
*.png
*.pdf
*.csv
*.txt
*.log
*.xlsx
*.zip
*.tar.gz